// @import "html5boilerplate";  /* This does not play well with the jQuery Mobile themes. */

.hidden {
  display: none;
}

h2#winner {
  text-align: center;
  padding: 10px;
}

p.center {
  text-align: center;
}