%div{:'data-role' => "page", :id => "dialog_abandon"}
  %div{:'data-role' => "header", :'data-theme' => "d"}
    %h1 Abandon?

  %div{:'data-role' => "content"}
    %h2 Are you sure you want to cancel your game?
    %p
      Going back to the player entry screen will abandon the scores you have entered.
    
    %a{href: "#players", :'data-role' => "button", :'data-theme' => "b"} Ok
    %a{href: "", :'data-role' => "button", :'data-theme' => "c"} Cancel

