%div{:'data-role' => "page", :id => "dialog_abandon"}
  %div{:'data-role' => "header", :'data-theme' => "d"}
    %h1 Abandon?

  %div{:'data-role' => "content"}
    %h2 Are you sure want to leave this game?
    %p
      This will abandon the scores you have entered.
    
    %a{href: "#players", :'data-role' => "button", :'data-theme' => "b", :'data-transition' => "slide", :'data-direction' => "reverse"} Ok
    %a{:'data-rel' => "back", :'data-role' => "button", :'data-theme' => "c", :'data-transition' => "pop", :'data-direction' => "reverse"} Cancel

