%div{:'data-role' => "page", :id => "players"}
  %div{:'data-role' => "header"}
    %a{href: "#index", :'data-icon' => "arrow-l", :'data-transition' => "slide", :'data-direction' => "reverse"} Cancel
    %h1 Players
    %a{href: "#scorecard", :'data-icon' => "arrow-r", :'data-transition' => "slide", :class => "save_players"} Next

  %div{:'data-role' => "content"}
    %div{:'data-role' => "controlgroup", id: "player_count_buttons", :'data-type' => "horizontal"}
      - (1..5).each do |index|
        %a{:'data-role' => "button", :'data-player-count' => index}= index

  %div{:'data-role' => "content"}
    %ul{:'data-role' => "listview", id: "player_list"}
      - ["Blue", "Yellow", "Green", "Red", "Purple"].each_with_index do |name, index|
        %li{:'data-player-number' => index + 1}
          %h3 Player #{index + 1}
          %input{type: "text", name: "player1", id: "player1_name", value: name}
      
