%div{:'data-role' => "page", :id => "results"}
  %div{:'data-role' => "header"}
    %a{href: "#scorecard", :'data-transition' => "slide", :'data-icon' => "arrow-l", :'data-direction' => "reverse"} Back
    %h1 Results
    %a{href: "#dialog_abandon", :'data-rel' => "dialog", :'data-transition' => "pop"} Start Over

  %div{:'data-role' => "content"}
    %ul{:'data-role' => "listview", :'data-inset' => "true", :id => "result_table"}
      - (1..5).each do |index|
        %li
          %h2.name player_name
          %h2{:class => "score ui-li-aside"} score