%div{:'data-role' => "page", :id => "results"}
  %div{:'data-role' => "header"}
    %a{href: "#scorecard", :'data-transition' => "slide", :'data-icon' => "arrow-l", :'data-direction' => "reverse"} Back
    %h1 Results
    %a{href: "#dialog_abandon", :'data-rel' => "dialog", :'data-transition' => "pop"} Start Over

  %div{:'data-role' => "content"}
    