%div{:'data-role' => "page", :id => "scorecard"}
  %div{:'data-role' => "header"}
    %a{href: "#dialog_abandon", :'data-icon' => "arrow-l", :'data-rel' => "dialog", :'data-transition' => "pop"} Cancel
    %h1 Scorecard
    %a{href: "#results", :'data-icon' => "arrow-r", :'data-transition' => "slide"} Next

  %div{:'data-role' => "collapsible-set", id: "scorecard_container"}
    - (1..5).each do |index|
      %div{:'data-role' => "collapsible", :'data-content-theme' => "d", :class => "player", :'data-collapsed' => (index == 1 ? "false" : "true")}
        %h3 
          %span.player_name player_name
        %p TODO: the form

