%div{:'data-role' => "page", :id => "scorecard"}
  %div{:'data-role' => "header"}
    %a{href: "#dialog_abandon", :'data-icon' => "delete", :'data-rel' => "dialog", :'data-transition' => "pop"} Cancel
    %h1 Scorecard
    %a{href: "#results", :'data-icon' => "check"} Next

  %div{:'data-role' => "content"}
      
